{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-jsdoc"],
  "jsdocPrintWidth": 80,
  "jsdocSpaces": 1,
  "jsdocDescriptionWithDot": false,
  "jsdocVerticalAlignment": false,
  "jsdocCapitalizeDescription": true,
  "jsdocCommentLineStrategy ": "multiline"
}